* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

/*header*/

.header {
    width: 100%;
    position: absolute;
    top: 30px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    margin-left: 5px;
}

.header-link {
    color: white;
    text-transform: uppercase;
    margin-right: 30px;
}

.header-button {
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    text-transform: uppercase;
    background: transparent;
    padding: 11px 28px;
    border: 1px solid white;
    color: white;
    transition: .6s;
    cursor: pointer;
}

.header-button:hover {
    background-color: white;
    color: #ED4C5C;
    transition: .6s;
}

.header-select {
    background: transparent;
    border: none;
    outline: none;
    color: #b0b0b0;
    margin-right: 10px;
}

/*header*/

/*hero*/

.hero {
    background: url("../images/hero/Bg.png") top left/100% 100% no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #ffffff;
}

.hero-title {
    font-size: 72px;
    line-height: 86px;
    text-transform: uppercase;
}

.hero-text {
    font-size: 24px;
    line-height: 150%;
    margin: 25px 0;
}

.hero-button {
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    text-transform: uppercase;
    background: transparent;
    padding: 17px 53px;
    border: 1px solid white;
    color: white;
    transition: .6s;
    cursor: pointer;
}

.hero-button:hover {
    background-color: white;
    color: #ED4C5C;
    transition: .6s;
}


/*hero*/

/*video*/
.video {
    padding: 94px 0 95px;
}

.video-title {
    font-size: 36px;
    line-height: 43px;
}

.video-text {
    font-size: 14px;
    line-height: 140%;
    margin: 24px 0;
}

.video-link {
    font-size: 14px;
    line-height: 140%;
    color: #ED4C5C;
}

.video-item-2 {
    position: relative;
}

.video-play {
    width: 66px;
    height: 66px;
    background-color: #ED4C5C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-play:hover {
    background: red;
    transition: .6s;
}

/*video*/


/*features*/
.features {
    padding: 63px 0 124px;
    background-color: #FAFAFA;

}

.features-title {
    text-align: center;
    margin-bottom: 63px;
    font-size: 36px;
    line-height: 43px;
}

.features-content {
    width: 293px;
    height: 198px;
    background-color: white;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 33px 32px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-subtitle {
    font-size: 18px;
    line-height: 22px;

}

.features-text {
    font-size: 12px;
    line-height: 150%;
    margin: 15px 0;

}

.features-link {

    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;

}

.features-item {
    position: relative;
}


/*features*/

/*technology*/

.technology {
    padding: 63px 0 104px;

}

.technology-title {
    text-align: center;
    margin-bottom: 52px;
    font-size: 36px;
    line-height: 43px;
}

.technology-item {

}

.technology-number {
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    text-align: center;
    font-weight: bold;
}

.technology-block {
    position: relative;

}

.technology-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
}

.technology-subtitle {
    font-size: 18px;
    line-height: 22px;
}

.technology-text {
    font-size: 12px;
    line-height: 14px;

}

.technology-content {
    text-align: center;
    margin-top: 19px;
}

/*technology*/

/*slider*/
.slider {
    padding: 94px 0 95px;
    background: #ED4C5C;
}

.slider-title {
    font-size: 36px;
    line-height: 43px;
    color: white;
}

.slider-text {
    margin: 24px 0;
    font-size: 14px;
    line-height: 140%;
    color: white;
}

.slider-icons {
    display: flex;
    column-gap: 30px;
}

.slider-icon {
    list-style: none;
}

.slider-link {
    color: #ffffff;
    font-size: 30px;
    transition: .6s;
}

.slider-link:hover {
    color: aquamarine;
    font-size: 35px;
    transition: .6s;
}


/*slider*/


/*contact*/

.contact {
    padding: 117px 0 78px;
}

.contact-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 50px;
}

.contact-description {
    font-size: 14px;
    line-height: 140%;
}

.contact-form {
    width: 540px;
}

.contact-text {
    width: 255px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333333;
    padding: 20px 30px;
    outline: none;
}

.contact-tel {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333333;
    padding: 20px 30px;
    outline: none;
}

.contact-select {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333333;
    padding: 20px 30px;
    outline: none;
}

.contact-block {
    margin-bottom: 24px;
}

.contact-first {
    margin-right: 25px;
}

.contact-button {
    padding: 16px 34px;
    background: #ED4C5C;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    transition: .6s;
    cursor: pointer;
}
.contact-button:hover {
    background: red;
    transition: .6s;
}


/*contact*/

/*footer*/
.footer{
    background-color: #FAFAFA;
    padding: 85px 0 86px;
}
.footer-title{
    font-size: 18px;
    margin-bottom: 28px;
}
.footer-text{
    font-size: 12px;
}
.footer-link{
    list-style: none;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.footer-contact{
    display: block;
    color: black;
    margin-bottom: 5px;
    font-size: 12px;
}
.footer-icons{
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}
.footer-icon{
    list-style: none;
    cursor: pointer;
    transition: .6s;

}
.footer-icon:hover{
    color: red;
    font-size: 20px;
    transition: .6s;
}
.footer-a{
    color: black;
}


/*footer*/




